@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-ui-white;
  }
}

@font-face {
  font-family: 'Train One';
  src: url('../assets/fonts/TrainOne-Regular.ttf');
}

/* Button hover styles */
.button {
  overflow: hidden;
  z-index: 1;
  position: relative;
}

.button::before {
  position: absolute;
  content: '';
  background: linear-gradient(252.9deg, #e4f1ff 6.3%, #edefff 30.06%, #ffffff 83.61%);
  width: 250px;
  height: 100px;
  z-index: -1;
}

.button:before {
  left: 100%;
  transition: 0.5s all;
}

.button:hover::before {
  top: -30px;
  left: -0px;
}

/* burger btn */
.nav-icon {
  width: 25px;
  height: 25px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.nav-icon span {
  background-color: #1a120b;
  position: absolute;
  border-radius: 2px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 100%;
  height: 2px;
  transition-duration: 500ms;
}

.nav-icon span:nth-child(1) {
  top: 0px;
  left: 0px;
}

.nav-icon span:nth-child(2) {
  top: 12px;
  left: 0px;
  opacity: 1;
}

.nav-icon span:nth-child(3) {
  bottom: 0px;
  left: 0px;
}

.nav-icon.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 13px;
  background-color: #fefbf6;
}

.nav-icon.open span:nth-child(2) {
  opacity: 0;
  background-color: #fefbf6;
}

.nav-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 13px;
  background-color: #fefbf6;
}

/* SIDEBAR ligth underline*/
.sb-underline {
  position: relative;
  padding: 1.5px 0;
}

.sb-underline::after {
  content: '';
  position: absolute;
  margin-bottom: -2px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms ease-in;
}

.sb-underline:hover::after {
  transform: scaleX(1);
}

/* light underline used in Linkedin inside Sidebar  */
.white-underline {
  position: relative;
  padding: 2px 0;
}

.white-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #fefbf6;

  transform: scaleX(1);
  transform-origin: left;
  transition: transform 250ms ease-in;
}

.white-underline:hover::after {
  transform: scaleX(0);
}

/* Dark underline  */
.link {
  position: relative;
  padding: 2px 0;
  cursor: pointer;
}

.link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #1a120b;

  transform: scaleX(1);
  transform-origin: left;
  transition: transform 250ms ease-in;
}

.link:hover::after {
  transform: scaleX(0);
}

/* bg-section today */
.bg-today {
  background-image: url('../assets/img/bg-today.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* #snap{
  scroll-snap-type: y mandatory !important;
  overflow-y: scroll !important;
} */
/* html{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
} */